<!DOCTYPE html>
<head>
	<title>Smarteen Photo Contest</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <script src="static/js/jquery-1.8.3.min.js"></script>
	<script src="static/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="static/js/jquery.ui.touch-punch.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/bootstrap-select.js"></script>
	<script src="static/js/bootstrap-switch.js"></script>
	<script src="static/js/flatui-checkbox.js"></script>
	<script src="static/js/flatui-radio.js"></script>
	<script src="static/js/jquery.tagsinput.js"></script>
	<script src="static/js/jquery.placeholder.js"></script>
	<script src="static/js/jquery.stacktable.js"></script>
	<script src="static/js/application.js"></script>
	<script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/flat-ui.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
</head>

<div class="container">
	<div class="demo-headline">
  		<h1 class="demo-logo">
  		Smarteen<br />Photo<br />Contest
  		<small>Smarteen App Challenge</small>
  		</h1>
	</div>
<![if !IE]>
	{% block body %}{% endblock %}
<![endif]>

<!--[if IE]>
	<h1 class="text-error">Sorry, We don't support Internet Explorer :(</h1>
	<br />
	<a href="http://chrome.com" class="btn btn-info">Get Google Chrome</a>
<![endif]-->

</div>

<footer>
	<div class="container">
		<h3 class="footer-title">Smarteen App Challenge</h3>
		<p>
			Developed by. <a href="http://www.facebook.com/devxoul/" target="_blank">Su Yeol Jeon</a><br />
			Copyright © 2013 <a href="http://www.facebook.com/groups/skappclub/" target="_blank">Smarteen AppClub</a>. All rights reserved.<br />
		</p>
	</div>
</footer>